html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}
header .img2 {
  width: 20px;
  height: 20px;
}
header ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 70px;
}
header ul li {
  color: #E5E5E5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header ul .i8 {
  background: #E5E5E5;
}
header ul .img1 {
  width: 20px;
  height: 20px;
  color: black;
}

.s-1 {
  width: 100%;
  height: 500px;
  background-image: url(https://scontent.ftbs5-3.fna.fbcdn.net/v/t39.30808-6/325595127_2936648833307810_7673240551146401169_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=5k327DAbLxgQ7kNvgG9-ol3&_nc_ht=scontent.ftbs5-3.fna&oh=00_AYC0ybooFrotKvaEtlRiYNvlq2ff25RyPn_Oc9mrxnc6Rg&oe=66945444);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  background: #212529;
  padding: 5%;
  width: 100%;
  margin: 0 auto;
}
footer .div1 {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
footer .div1 p {
  color: #FFF;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
footer .div1 h5 {
  color: #E5E5E5;
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .div44 {
  display: flex;
  gap: 17px;
}
footer .distance {
  margin-left: 142px;
  margin-right: 247px;
}

.s-22 .p {
  margin: 40px 0 0 70px;
}
.s-22 .div14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.s-22 .p {
  color: #495057;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-22 .img5 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.s-22 h6 {
  color: #495057;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.s-22 .div41 {
  display: flex;
  gap: 140px;
  margin-left: 70px;
  margin-top: 50px;
}

.div23 {
  margin-top: 40px;
  margin-left: 70px;
}
.div23 p {
  color: #495057;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.div23 h4 {
  color: #495057;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.ppont {
  margin: 70px 0 0 70px;
  color: #495057;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.div21 {
  display: flex;
  margin-left: 70px;
  margin-top: 30px;
  gap: 140px;
}
.div21 .div210 {
  gap: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div21 p {
  color: #495057;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.divcompani p {
  color: #495057;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 70px;
}
.divcompani h4 {
  color: #495057;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 70px;
  margin-top: 10px;
}/*# sourceMappingURL=about_us.css.map */